**/__pycache__
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
**/.bandit
**/.coverage
**/.dockerignore
**/.tox
**/.pytest_cache
dist
build
db.sqlite3*
pytest.ini
my_tox
**/tests
*.egg-info/
*.log
MANIFEST.in
setup.cfg
setup.py
tox.ini