# You can override the included template(s) by including variable overrides
# SAST customization: https://docs.gitlab.com/ee/user/application_security/sast/#customizing-the-sast-settings
# Secret Detection customization: https://docs.gitlab.com/ee/user/application_security/secret_detection/#customizing-settings
# Dependency Scanning customization: https://docs.gitlab.com/ee/user/application_security/dependency_scanning/#customizing-the-dependency-scanning-settings
# Note that environment variables can be set in several places
# See https://docs.gitlab.com/ee/ci/variables/#cicd-variable-precedence
include:
- template: Jobs/SAST.gitlab-ci.yml
- template: Security/SAST.gitlab-ci.yml
- template: Security/Dependency-Scanning.gitlab-ci.yml
- template: Security/Secret-Detection.gitlab-ci.yml
image: ubuntu:21.04
variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  DS_EXCLUDED_ANALYZERS: bundler-audit, retire.js, gemnasium, gemnasium-maven
  DEBIAN_FRONTEND: noninteractive
  TZ: Europe/London
cache:
  paths:
  - ".cache/pip"
  - venv/
before_script:
- apt -y update
- apt -y install pandoc python3.10 python3-pip python3.10-venv
- apt -y upgrade
- python3.10 -V
# - pip3 install virtualenv
# - virtualenv venv
- python3.10 -m venv venv
- source venv/bin/activate
test:
  script:
  - pip3 install -r requirements-dev.txt
  - cp shaarpy/env.sample shaarpy/.env
  # - python -m pytest -s
  - coverage run --source='.' manage.py test
  coverage: '/TOTAL.+ ([0-9]{1,3}%)/'
deploy:
  script:
  - cat $PYPIRC > /tmp/.pypirc
  - cat $PYPIRC_PYPI > /tmp/.pypirc_pypi
  - pip install twine
  - python setup.py bdist_wheel
  - python -m twine upload --repository gitlab dist/* --config-file /tmp/.pypirc
  - python -m twine upload dist/* --config-file /tmp/.pypirc_pypi
  only:
  - tags
stages:
- test
sast:
  variables:
    SAST_EXCLUDED_ANALYZERS: bandit, brakeman, eslint, flawfinder, gosec, kubesec,
      nodejs-scan, phpcs-security-audit, pmd-apex, security-code-scan, sobelow, spotbugs
    SAST_EXCLUDED_PATHS: venv
    SAST_SEMGREP_METRICS: 'false'
  stage: test
