{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ SHAARPY_NAME }} - 500{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="footer d-flex align-items-center justify-content-center">
                <h1>500</h1>
            </div>
            <div class="footer d-flex align-items-center justify-content-center">
                <p>{% trans 'Server error (500)' %}</p>
            </div>
        </div>
    </div>
{% endblock %}
