{% extends "base.html" %}
{% load i18n %}
{% load shaarpy_extras %}
<title>
{% block title %}{% spaceless %}{% if tag == '0Tag' %}
{{ SHAARPY_NAME }} :: {% translate 'Links without any tag' %}
{% elif tag %}
{{ SHAARPY_NAME }} :: {% translate 'Links related to tag' %} {{ tag }}
{% elif q %}
{{ SHAARPY_NAME }} :: {% translate 'Links related to ' %} {{ q }}
{% else %}
{{ SHAARPY_NAME }}
{% endif %}
{% endspaceless %}{% endblock %}
</title>
{% block og_title %}{% spaceless %}{% if tag == '0Tag' %}{% translate 'Links without any tag' %}
{% elif tag %}{% translate 'Links related to tag' %} {{ tag }}
{% elif q %}{% translate 'Links related to ' %} {{ q }}
{% else %}{{ SHAARPY_NAME }}{% endif %}
{% endspaceless %}{% endblock %}
{% block content %}
            <div class="col-xs-8 col-md-8 col-lg-8 offset-xs-2 offset-md-2 offset-lg-2 mt-3">
                {% if q %}
                <h1><i class="fas fa-search"></i> {% translate 'Links related to' %} {{ q }}</h1>
                {% endif %}
                {% if tag == '0Tag' %}
                <h1><i class="fas fa-tags"></i> {% translate 'Links without any tag' %}</h1>
                {% elif tag %}
                <h1><i class="fas fa-tags"></i> {% translate 'Links related to tag' %} {{ tag }}</h1>
                {% endif %}
                <nav aria-label="Page navigation" class="mt-3">
                    <ul class="pagination">
                      {% if page_obj.has_previous %}
                      <li class="page-item"><a title="{% translate 'First page' %}" class="page-link fas fa-angle-double-left" href="?page=1{% if q %}&q={{ q }}{% endif %}"> </a></li>
                      <li class="page-item"><a title="{% translate 'Previous page' %}" class="page-link fas fa-angle-left" href="?page={{ page_obj.previous_page_number }}{% if q %}&q={{ q }}{% endif %}"> </a></li>
                      {% endif %}
                      <li class="page-item active" aria-current="page">
                        <span class="page-link fas">{{ page_obj.number }}{% translate " of " %}{{ page_obj.paginator.num_pages }}</span>
                      </li>
                      {% if page_obj.has_next %}
                      <li class="page-item"><a title="{% translate 'Next page' %}" class="page-link fas fa-angle-right" href="?page={{ page_obj.next_page_number }}{% if q %}&q={{ q }}{% endif %}"> </a></li>
                      <li class="page-item"><a title="{% translate 'Last page' %}" class="page-link fas fa-angle-double-right" href="?page={{ page_obj.paginator.num_pages }}{% if q %}&q={{ q }}{% endif %}"> </a></li>
                      {% endif %}
                    </ul>
                </nav>
                {% for data in object_list %}
                <div class="card {% if data.sticky %}border-info{% endif %}">
                    {% if data.image %}
                    <img src="{{ data.image }}" class="card-img-top" style="width: 20rem;">
                    {% endif %}
                    <div class="card-body">
                      {% if data.url %}
                      <h5><a href="{{ data.url }}">{% if data.title %}{{ data.title }}{% else %}{{ data.url }}{% endif %}</a></h5>
                      {% else %}
                      <h5><a href="{% url 'link_detail' data.url_hashed %}">{{ data.title }}</a></h5>
                      {% endif %}
                      {% if data.video %}
                      <div class="ratio ratio-16x9">
                        <iframe src="{{ data.video }}" title="video" allowfullscreen></iframe>
                      </div>
                      {% endif %}
                      <div class="card-text">{{ data.text | truncatechars:"300" | wrap_markdown |  safe }}</div>
                    </div>
                    <div class="card-footer text-muted">
                      {% if data.sticky %}
                      <i class="fas fa-thumbtack"></i> -
                      {% endif %}
                      {% if data.private %}
                      <i class="fas fa-user-secret"> {% translate 'Private' %}</i> -
                      {% endif %}
                      <i class="far fa-clock"><a href="{% url 'link_detail' data.url_hashed %}">{{ data.date_created }}</a></i> -
                      <a href="{% if data.url %}{{ data.url }}{% else %}{% url 'link_detail' data.url_hashed %}{% endif %}">
                        {% if data.url %}{{ data.url }}{% else %}{% url 'link_detail' data.url_hashed %}{% endif %}</a>
                      {% if data.tags %}
                      - <i class="fas fa-tags"> {{ data.tags | tags | safe }}</i>
                      {% endif %}
                      {% if user.is_authenticated %}
                      <a role="button" href="{% url 'link_edit' data.id %}" class="btn btn-outline-primary btn-sm">
                        <i class="far fa-edit"> {% translate 'edit' %}</i>
                      </a>
                      <a role="button" href="{% url 'link_delete' data.id %}" class="btn btn-outline-danger btn-sm">
                        <i class="far fa-trash-alt"> {% translate 'delete' %}</i>
                      </a>
                      {% endif %}
                    </div>
                </div>
                {% endfor %}
                <nav aria-label="Page navigation" class="mt-3">
                  <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li class="page-item"><a title="{% translate 'First page' %}" class="page-link fas fa-angle-double-left" href="?page=1{% if q %}&q={{ q }}{% endif %}"> </a></li>
                    <li class="page-item"><a title="{% translate 'Previous page' %}" class="page-link fas fa-angle-left" href="?page={{ page_obj.previous_page_number }}{% if q %}&q={{ q }}{% endif %}"> </a></li>
                    {% endif %}
                    <li class="page-item active" aria-current="page">
                      <span class="page-link fas">{{ page_obj.number }}{% translate " of " %}{{ page_obj.paginator.num_pages }}</span>
                    </li>
                    {% if page_obj.has_next %}
                    <li class="page-item"><a title="{% translate 'Next page' %}" class="page-link fas fa-angle-right" href="?page={{ page_obj.next_page_number }}{% if q %}&q={{ q }}{% endif %}"> </a></li>
                    <li class="page-item"><a title="{% translate 'Last page' %}" class="page-link fas fa-angle-double-right" href="?page={{ page_obj.paginator.num_pages }}{% if q %}&q={{ q }}{% endif %}"> </a></li>
                    {% endif %}
                  </ul>
                </nav>
           </div> <!-- col-xs-8 col-md-8 col-lg-8 offset-xs-2 offset-md-2 offset-lg-2 mt-3 -->
{% endblock %}
