{% extends "base.html" %}
{% load i18n %}
<title>{% block title %}{{ SHAARPY_NAME }} :: New shaarpy/note{% endblock %}</title>
{% block content %}
{% if messages %}
<div class="alert alert-warning">
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
<div class="col-xs-8 col-md-8 col-lg-8 offset-xs-2 offset-md-2 offset-lg-2">
  <form action="" method="post" role="form" name="my_form" class="form-horizontal">
    {% csrf_token %}
    <fieldset>
    {{ form.non_field_errors }}
      {% if edit_link %}
      <legend> Update the link/note</legend>
      {% else %}
      <legend> Share a link/a note</legend>
      {% endif %}
      <div class="mb-3">
          <label class="form-label" for="id_url"> URL</label>
          <div>{{ form.url }}</div>
          {% if form.url.errors %}
          <div class="col-sm-offset-2 col-sm-8 alert alert-danger" role="alert">{{ form.url.errors }}</div>
          {% endif %}
      </div>
      <div class="mb-3">
          <label class="form-label" for="id_title"> {% trans 'Title' %}</label>
          <div>{{ form.title }}</div>
          {% if form.title.errors %}
          <div class="col-sm-offset-2 col-sm-8 alert alert-danger">{{ form.title.errors }}</div>
          {% endif %}
      </div>
      {% if edit_link %}
      <div class="mb-3">
          <label class="form-label" for="id_image"> {% trans 'Image' %}</label>
          <div>{{ form.image }}</div>
          {% if form.image.errors %}
          <div class="col-sm-offset-2 col-sm-8 alert alert-danger">{{ form.image.errors }}</div>
          {% endif %}
      </div>
      {% endif %}
      <div class="mb-3">
          <label class="form-label" for="id_text"> {% trans 'Text' %}</label>
          <div class="">{{ form.text }}</div>
          {% if form.text.errors %}
          <div class="col-sm-offset-2 col-sm-8 alert alert-danger">{{ form.text.errors }}</div>
          {% endif %}
      </div>
      <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="basic-addon1"><i class="fas fa-tags"></i></span>{{ form.tags }}
          {% if form.tags.errors %}
          <div class="col-sm-offset-2 col-sm-8 alert alert-danger">{{ form.tags.errors }}</div>
          {% endif %}
      </div>
      <div class="mb-3">
          <label class="form-label" for="id_private"><i class="fas fa-user-secret"></i> {% trans 'Private' %}</label>
          <div>{{ form.private }}</div>
          {% if form.private.errors %}
          <div class="col-sm-offset-2 col-sm-8 alert alert-danger">{{ form.private.errors }}</div>
          {% endif %}
      </div>
      <div class="mb-3">
          <label class="form-label" for="id_sticky"><i class="fas fa-thumbtack"></i> {% trans 'Sticky' %}</label>
          <div>{{ form.sticky }}</div>
          {% if form.sticky.errors %}
          <div class="col-sm-offset-2 col-sm-8 alert alert-danger">{{ form.sticky.errors }}</div>
          {% endif %}
      </div>
      {% if edit_link %}
      <a href="{% url 'link_detail' object.url_hashed %}" class="btn btn-success"><i class="fas fa-long-arrow-alt-left"></i> {% trans "Back" %}</a>
      <button class="btn btn-primary">{% trans "Update link" %}</button>
      {% else %}
      <a href="{% url 'home' %}" class="btn btn-success"><i class="fas fa-long-arrow-alt-left"></i> {% trans "Back" %}</a>
      <button class="btn btn-primary"><i class="fas fa-plus"></i> {% trans "Add link" %}</button>
      {% endif %}
{% for hidden in form.hidden_fields %}
{{ hidden }}
{% endfor %}
    </fieldset>
  </form>
</div>
{% endblock %}
