# for meta
SHAARPY_NAME=ShaarPy FoxMaSk Links
SHAARPY_DESCRIPTION=Share thoughts, links ideas, notes
SHAARPY_AUTHOR=FoxMaSk
SHAARPY_ROBOT=index, follow
# for MD generation, set a path eg /home/foxmask/MesNotes/links or leave it empty to not use this feature
SHAARPY_LOCALSTORAGE_MD=
SHAARPY_STYLE=blue
SECRET=!DONTFORGETTOCHANGETHISVALUE!
# for production environment, set it to False
DEBUG=False
# for production environment, set it to the URL of your 'ShaarPy'
ALLOWED_HOSTS='127.0.0.1,localhost'
CSRF_TRUSTED_ORIGINS=https://*.mydomain.com

# for database
#DB_ENGINE='django.db.backends.postgresql'
#DB_NAME='shaarpy'
#DB_USER='shaarpy_user'
#DB_PASSWORD='shaarpy_pass'

DB_ENGINE='django.db.backends.sqlite3'
DB_NAME='db.sqlite3'
#DB_USER=''
#DB_PASSWORD=''

#DB_HOST='localhost'
#DB_PORT='5432'

# i18n/l10n
TIME_ZONE='Europe/London'
LANGUAGE_CODE='en-en'
USE_I18N=True
USE_TZ=True
