SHAARPY_NAME=FoxMaSk'z h0m3 Links
SHAARPY_DESCRIPTION=Links, tech links, life links
SHAARPY_LOCALSTORAGE_MD=/home/foxmask/MyNotes/Links
SHAARPY_STYLE=blue

SECRET=!DONTFORGETTOCHANGETHISVALUE!

DEBUG=True
ALLOWED_HOSTS='127.0.0.1,localhost'
DB_ENGINE='django.db.backends.sqlite3'
DB_NAME='db.sqlite3'
DB_USER=''
DB_PASSWORD=''
DB_HOST=''
DB_PORT=''

TIME_ZONE='Europe/Paris'
LANGUAGE_CODE='en-en'
USE_I18N=True
USE_L10N=True
USE_TZ=True

CSRF_TRUSTED_ORIGINS=https://*.mydomain.com
