# for meta
SHAARPY_NAME=ShaarPy FoxMaSk Links
SHAARPY_DESCRIPTION= Share thoughts, links ideas, notes
SHAARPY_AUTHOR=FoxMaSk
SHAARPY_ROBOT=index, follow
# for MD generation
SHAARPY_LOCALSTORAGE_MD=/home/foxmask/MesNotes/links
SHAARPY_STYLE=blue

SECRET=!DONTFORGETTOCHANGETHISVALUE!

DEBUG=False   # for production environemnt, set it to False
ALLOWED_HOSTS='127.0.0.1,localhost'   # for production environemnt, set it to the URL of your 'ShaarPy'
CSRF_TRUSTED_ORIGINS=https://*.mydomain.com

# for database
DB_ENGINE='django.db.backends.sqlite3'
DB_NAME='db.sqlite3'
DB_USER=''
DB_PASSWORD=''
DB_HOST=''
DB_PORT=''

# i18n/l10n
TIME_ZONE='Europe/Paris'
LANGUAGE_CODE='en-en'
USE_I18N=True
USE_L10N=True
USE_TZ=True
